@font-face {
    font-family: 'MgOpen Modata';
    src: url('../fonts/MgOpenModata.woff2') format('woff2'),
        url('../fonts/MgOpenModata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}